.container {
  height: 580px;
}

.book__fotos {
  padding: 4% 0 4% 7%;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.book__imagem {
  border-radius: 16px;
  width: 130px;
  height: 130px;
  padding-top: 0.5rem;
}
  